{% extends "base/layout.html" %}
{% load custom_filters %}

{% block script %}
backlinks.js
{% endblock %}

{% block main %}
    <div class="card-top">
        <h1>Linki przychodzące do strony <span class="purple-text">{{ site.url }}</span></h1>
    </div>
    <div class="card-content">        
        <p>Sprawdź backlinki</p>        
        {% csrf_token %}
        <div class="row">
            <div class="column top">
                <input class="big-input" type="text" id="linking-page" placeholder="Wprowadź URL linkujący">
                <button id="add-backlink" class="button-purple" value="{{ site.id }}">Dodaj backlink</button>
                
            </div>
            <div class="column">
                <p id="add-backlink-message"></p>
            </div>
        </div>
        
        <table>
            <caption>
                Placeholder
            </caption>
            <thead>
                <tr>
                    <th width="50%">Strona linkująca</th>
                    <th width="20%">Rel</th>
                    <th width="20%">Aktywny</th>
                    <th width="10%">🗑️</th>
                </tr>
            </thead>
            <tbody>
                {% for link in backlinks.all %}
                <tr>
                    <td><a href="{{ link.linking_page }}" target="_blank">{{ link.linking_page|extract_domain }}</a></td>
                    <td class="{{ link.rel|color_class_from_rel_attribute }}">{{ link.rel|none_to_default }}</td>
                    <td class="{{ link.rel|color_class_from_bool }}">{{ link.active|availability_from_bool }}</td>
                    <td class="delete-backlink-button clickable" data-id="{{ link.id }}">Usuń</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
