{% extends "base/layout.html" %}
{% load custom_filters %}

{% block main %}
    <div class="card-top">
        <h1>Klienci</h1>
    </div>
    <div class="card-content">        
               
        <div class="table-container"><table>
            <thead>
                <tr>
                    <th width="20%">Nazwa</th>
                    <th width="20%">E-mail</th>
                    <th width="20%">NIP</th>
                    <th width="20%">Imię i nazwisko</th>
                    <th width="20%">Adres</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td class="purple-text"><a href="/client/{{ client.id }}/">{{ client.name }}</a></td>
                    <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
                    <td>{{ client.nip }}</td>
                    <td>{{ client.full_name }}</td>
                    <td>{{ client.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
    </div>
{% endblock %}
