{% extends "base/layout.html" %}
{% load custom_filters %}

{% block script %}
<script src="/static/contract.js"></script>
{% endblock %}

{% block main %}
    <div class="card-top">
        <h1>Umowa o <span class="purple-text">{{ contract.get_category_display }}</span> dla strony <span class="purple-text">{{ contract.site.url }}</span></h1>
    </div>
    <d class="card-content">        
        {% csrf_token %}
        
        <d class="row" id="edit-contract-container">
            <div class="column">
                
                <img class="center-img" src="/static/contract.jpg">
                <a href="/invoices/{{contract.id}}/" class="purple-text">Faktury</a>
            </div>

            <div class="column">
                <h2>Edytuj umowę</h2>
                <div class="clients-list" id="sites-list">
                    {% for site in sites %}
                    <label><input type="checkbox" value="{{ site.id }}" {% if site.id == contract.site.id %}checked{% endif %}><span class="purple-text">{{ site.url }}</span> - {{ site.client.name }}</label>
                    {% empty %}
                        <p>Brak klientów</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="column clear-left-padding">
                        <label>
                            Częstotliwość płatności [msc]
                            <input class="small-input" type="number" 
                                id="invoice-frequency" name="invoice_frequency" 
                                value="{{ contract.invoice_frequency }}"
                            >
                        </label>
                        <label>
                            Kwota na fakturze [pln]
                            <input class="small-input" type="number" 
                                id="value" name="value" 
                                value="{{ contract.value }}"
                            >
                        </label>
                        <label>
                            Poinformuj przed [dni]
                            <input class="small-input" type="number" 
                                id="days-before-invoice-date-to-mark-urgent" 
                                name="days_before_invoice_date_to_mark_urgent" 
                                value="{{ contract.days_before_invoice_date_to_mark_urgent }}"
                            >
                        </label>
                        <label>
                            Data kolejnej faktury
                            <input class="small-input" type="date"
                                id="invoice-date" name="invoice_date" 
                                value="{{ contract.invoice_date|date:"Y-m-d" }}"
                            >
                        </label>
                    </div>
                    <div class="column">
                        <h3>Kategoria:</h3>                        
                        <div class="categories-list" id="categories-list">
                            {% for category in categories %}
                                <label><input type="checkbox" value="{{ category.0 }}" {% if category.0 == contract.category %}checked{% endif %}>{{ category.1 }}</label>
                            {% empty %}
                                <p>Brak kategorii</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button id="edit-contract" class="button-purple" value="{{ contract.id }}">Edytuj umowę</button>
                <p id="edit-contract-message"></p>
                <span class="red-text clickable" id="delete-contract">Usuń umowę</span>
                <p id="delete-contract-message"></p>   
            </div>
        </div>
    </div>
{% endblock %}
