{% extends "base/layout.html" %}
{% load custom_filters %}
{% block script %}
<script src="/static/external_links.js"></script>
{% endblock %}

{% block main %}
    <div class="card-top">
        <h1>Linki wychodzące ze strony <span class="purple-text">{{ site.url }}</span></h1>
    </div>
    <div class="card-content">        
        
        {% csrf_token %}
        <div class="row">
            <div class="column top">
                <div class="row">
                    <div class="column">
                        <button id="find-links" class="button-purple" value="{{ site.id }}">Znajdź linki</button>
                    </div>
                    <div class="column">
                        <textarea id="to-exclude" placeholder="Wprowadź słowa do wykluczenia">{% for keyword in external_links_manager.excluded %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% endfor %}</textarea>
                    </div>
                </div>
            </div>
            
        </div>
        {% if external_links_manager.external_links.all %}
        <div class="table-container"><table>
            <caption>
                Dane z {{ external_links_manager.date }} | <span id="check-availability" class="purple-text" data-external-links-id="{{ external_links_manager.id }}">Sprawdź dostępność stron docelowych: </span><span id="check-availability-progres"></span>
            </caption>
            <thead>
                <tr>
                    <th width="60%">Strona linkująca</th>
                    <th width="25%">Strona docelowa</th>
                    <th width="15%">Rel</th>
                    <th width="10%">Dostępność</th>
                </tr>
            </thead>
            <tbody>
                {% regroup external_links_manager.external_links.all by linking_page as links %}
                {% for link_group in links %}
                    {% with link_list=link_group.list %}
                        <tr>
                            <td rowspan="{{ link_list|length }}"><a href="{{ link_group.grouper }}" rel="nofollow" target="_blank">{{ link_group.grouper|extract_path }}</a></td>
                            {% for link in link_list %}
                                <td><a href="{{ link.linked_page }}" rel="nofollow" target="_blank">{{ link.linked_page|extract_domain }}</a></td>
                                <td class="{{ link.rel | color_class_from_rel_attribute}}">{{ link.rel }}</td>
                                <td class="{{ link.is_linked_page_available | color_class_from_bool }}">{{ link.is_linked_page_available | availability_from_bool }}</td>
                            </tr>
                            {% if not forloop.last %}
                                <tr>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    {% endwith %}
                {% endfor %}

            </tbody>
        </table></div>
        {% endif %}
    </div>
{% endblock %}
