{% extends "base/layout.html" %}
{% load custom_filters %}
{% block script %}
external_links.js
{% endblock %}

{% block main %}
    <div class="card-top">
        <h1>Linki wychodzące</h1>
    </div>
    <div class="card-content">        
        
        {% csrf_token %}
        <div class="row">
            <div class="column top">
                <button id="find-links" class="button-purple" value="{{ site_id }}">Znajdź linki</button>
                <textarea id="to-exclude">{% for keyword in external_links.excluded %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% empty %}facebook, pinterest, reddit{% endfor %}</textarea>
            </div>
            <div class="column">
                {% if external_links %}
                    <p>Wykluczono: {% for keyword in external_links.excluded %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                {% endif %}
            </div>
        </div>
        {% if external_links %}
        
        <table>
            <caption>
                Dane z {{ external_links.date }} | <span id="check-availability" class="purple-text" data-external-links-id="{{ external_links.id }}">Sprawdź dostępność stron docelowych</span>
            </caption>
            <thead>
                <tr>
                    <th width="60%">Strona linkująca</th>
                    <th width="25%">Strona docelowa</th>
                    <th width="15%">Rel</th>
                    <th width="10%">Dostępność</th>
                </tr>
            </thead>
            <tbody>
                {% regroup external_links.links.all by linking_page as links %}
                {% for link_group in links %}
                    {% with link_list=link_group.list %}
                        <tr>
                            <td rowspan="{{ link_list|length }}"><a href="{{ link_group.grouper }}" rel="nofollow" target="_blank">{{ link_group.grouper|extract_path }}</a></td>
                            {% for link in link_list %}
                                <td><a href="{{ link.linked_page }}" rel="nofollow" target="_blank">{{ link.linked_page|extract_domain }}</a></td>
                                <td>{{ link.rel }}</td>
                                <td class="{{ link.is_linked_page_available|color_class_from_bool }}">{{ link.is_linked_page_available|page_availability_from_bool }}</td>
                            </tr>
                            {% if not forloop.last %}
                                <tr>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    {% endwith %}
                {% endfor %}
                

            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
