{% extends "base/layout.html" %}


{% block main %}
    <div class="card-top">
        <h1>Dostępność stron</h1>
    </div>
    <div class="card-content">
        <p>Sprawdź dostępność strony</p>
        <table>
            <thead>
                <tr>
                    <th>Strona</th>
                    <th>Dostępność</th>
                    <th>% Dostępności</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nagłowek</td>
                    <td>Nagłowek</td>
                    <td>Nagłowek</td>
                </tr>
                <tr>
                    <td>Nagłowek</td>
                    <td>Nagłowek</td>
                    <td>Nagłowek</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}