{% extends "base/layout.html" %}
{% load custom_filters %}

{% block script %}
invoice.js
{% endblock %}

{% block main %}
    <div class="card-top">
        <h1>
            Faktura do umowy <span class="purple-text">{{ invoice.contract.get_category_display }}</span> 
            dla strony <span class="purple-text">{{ invoice.contract.site.url }}</span>
        </h1>
    </div>
    <div class="card-content">        
        {% csrf_token %}
        
        <div class="row" id="edit-contract-container">
            <div class="column">
                <embed id="pdf-embed" type="application/pdf" width="600" height="500" class="embed"></embed>
                
                
            </div>

            <div class="column">
                <h2>Szczegóły faktury</h2>
                <p>Ta faktura została wystawiona {{ invoice.date|date:"Y-m-d" }}, dotyczy 
                    <span class="purple-text">
                        umowy o {{ invoice.contract.get_category_display }} 
                        dla strony {{ invoice.contract.site.url }}.
                    </span>
                    Ma status: 
                    <span class="{{ invoice.is_paid|color_class_from_bool }}">
                        {{ invoice.is_paid|is_invoice_paid_info_from_bool }}.
                    </span>
                </p>
                <label><input type="checkbox" id="is-paid" {% if invoice.is_paid %}checked{% endif %}>Opłacono</label>
                <h4>Faktura w PDF</h4>
                <div class="row">
                    <div class="column clear-left-padding clear-top-padding">
                        <button class="button-purple" id="download-invoice">Pobierz</button>
                        <small id="download-invoice-message"></small>
                    </div>
                    <div class="column clear-top-padding clear-left-padding">
                        <label class="file-input">
                            <input type="file" name="invoice-file" id="invoice-file">
                                <div class="file-input-button">Prześlij</div>
                        </label>
                    </div> 
                </div>
                <h4>Raport w PDF</h4>
                <div class="row">
                    <div class="column clear-left-padding clear-top-padding">
                        <button class="button-purple{% if not invoice.report_file %} disabled{% endif %}" id="download-report">Pobierz</button>
                        {% if invoice.report_file %}
                            <label><input type="checkbox" id="delete-report">Usuń raport</label>
                        {% endif %}
                        <small id="download-report-message"></small>
                    </div>
                    <div class="column clear-top-padding clear-left-padding">
                        <label class="file-input">
                            <input type="file" name="report-file" id="report-file">
                                <div class="file-input-button">Prześlij</div>
                        </label>
                    </div>
                </div>
                
                <button class="button-purple purple-text clickable" id="edit-invoice" value="{{ invoice.id }}">
                    Edytuj
                </button>
                <small id="edit-invoice-message"></small>
                <p id="delete-invoice" class="red-text clickable">Usuń fakturę</p>
                <small id="delete-invoice-message"></small>
                
            </div>
        </div>
    </div>
{% endblock %}
