{% extends "base/layout.html" %}
{% load custom_filters %}

{% block script %}
<script src="/base/static/invoices.js"></script>
{% endblock %}

{% block main %}
    <div class="card-top">
        <h1>Faktury {% if single_contract %}dla umowy <span class="purple-text">{{ contracts.get_category_display }}</span> dla strony {{ contracts.site.url }}{% endif %}</h1>
    </div>
    <div class="card-content" id="info">  
        <p class="purple-text clickable" id="add-invoice-toggle-button">Nowa faktura</p>
        <div class="row" id="add-invoice-container">
            <div class="column">
                {% if not single_contract %}
                    <p><strong>Wybierz umowę:</strong></p>
                    <div class="clients-list max-height-150" id="contracts-list">
                        
                        {% for contract in contracts %}
                        <label>
                            <input type="checkbox" value="{{ contract.id }}" data-client-id="{{ contract.site.client.id }}">
                            {{ contract.get_category_display }} - {{ contract.site.url }}
                            {% if contract.is_urgent %}<span class="purple-text">| pilne</span>{% endif %}
                        </label>
                        {% empty %}
                            <p>Brak Umów</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <span id="info-contract-id" data-contract-id="{{ contracts.id }}"></span>
                    <span id="info-client-id" data-client-id="{{ contracts.site.client.id }}"></span>
                {% endif %}
                <br>
                <label>
                    Data płatności
                    <input class="small-input" type="date"
                        id="invoice-payment-date" 
                        name="invoice-payment-date" 
                    >
                </label>
                <div class="row">
                    <div class="column clear-left-padding clear-bottom-padding">
                        <label class="file-input">
                            Faktura [pdf]
                            <input type="file" name="invoice-file" id="invoice-file">
                                <div class="file-input-button">Prześlij</div>
                        </label>
                    </div>
                    <div class="column clear-bottom-padding">
                        <label class="file-input">
                            Raport [pdf]
                            <input type="file" name="report-file" id="report-file">
                                <div class="file-input-button">Prześlij</div>
                        </label>
                    </div>
                </div>
                <button id="add-invoice-button" class="button-purple">Dodaj fakturę</button>
                <p id="add-invoice-message"></p>
            </div>
            <div class="column">
                <p class="purple-text disabled clickable " id="get-client-info-button">Pobierz informacje o kliencie</p>
                <div id="client-info-container"></div>
            </div>
        </div>      
        {% csrf_token %}    
        <div class="table-container"><table>
            <caption id="check-invoices-overduity" class="purple-text clickable">Sprawdź, które faktury są zaległe</caption>
            <thead>
                <tr>
                    <th>Strona</th>
                    <th>Umowa</th>
                    <th>Status</th>
                    <th>Data wystawienia</th>
                    <th>Data płatności</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                <tr 
                    data-invoice-id="{{ invoice.id }}"
                    class="{{ invoice.is_overdue|background_color_class_from_change_attribute }}"
                >
                    <td>{{ invoice.contract.site }}</td>
                    <td>{{ invoice.contract.get_category_display }}</td>
                    <td class="{{ invoice.is_paid|color_class_from_bool }}">
                        {{ invoice.is_paid|is_invoice_paid_info_from_bool }} 
                        <small class="purple-text clickable change-is-paid" data-is-paid="{{ invoice.is_paid }}">Zmień</small>
                    </td>
                    <td>{{ invoice.date|date:"Y-m-d" }}</td>
                    <td>{{ invoice.payment_date|date:"Y-m-d" }}</td>
                    <td><a class="purple-text" href="/invoice/{{ invoice.id }}/">Zobacz</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
    </div>
{% endblock %}
