{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'style.css' %}"">
  <link rel="icon" type="image/jpg" href="/static/favicon.jpeg">
  <script src="/static/main.js"></script>
  <script src="/static/{% block script %}{% endblock %}"></script>
  <title>Interactive Agency CRM</title>
</head>
<body>
  <header>
    <div class="menu-left">
      <img src="/static/logo.svg" class="logo">
    </div>
    <div class="menu-center">
      {% csrf_token %}
      <span id="current-site-url" data-id="{{ request.session.current_site }}"></span>
    </div>
    <div class="menu-right">Wyloguj</div>
  </header>
  <aside>
    <h2>SEO</h2>
    <hr>
    <div class="sidebar-menu">
      <p>↗ <a href="/external">Linki wychodzące</a></p>
      <p>↙ <a href="/backlinks">Linki przychodzące</a></p>
      <p>📝 <a href="/notes">Notatki</a></p>
    </div>
    
    <h2>Faktury</h2>
    <hr>
    <div class="sidebar-menu">
      <p>↗ <a href="/hosting">Hostingi</a></p>
      <p>↗ <a href="/positioning">Pozycjonowanie</a></p>
    </div>
    <div class="sidebar-bottom">
      <div class="sites-list"></div>
      <a href="/add-site">
        <button type="submit" class="button-white">
          Dodaj stronę
        </button>
      </a>
    </div>
  </aside>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    <p>Made with ❤️ by <a href="https://www.linkedin.com/in/piotr-detyna-a54115241/">Piotr Detyna</a></p>
  </footer>
</body>
</html>
