{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'style.css' %}"">
  <link rel="icon" type="image/jpg" href="{% static 'favicon.jpg' %}">
  <script src="{% static 'main.js' %}"></script>
  {% block script %}{% endblock %}
  <title>Interactive Agency CRM</title>
</head>
<body>
  <header>
    <div class="menu-button" id="menu-button">☰</div>
    <div class="menu-left">
      
      <a href="/"><img src="{% static 'logo.svg' %}" class="logo pc"></a>
    </div>
    <div class="menu-center">
      {% csrf_token %}
      <span id="current-site-url" data-id="{{ request.session.current_site }}"></span>
    </div>
    <div class="menu-right"><span class="logout-button pc">Wyloguj</span></div>
  </header>
  <aside>
    <a href="/"><img src="{% static 'logo.svg' %}" class="logo mobile"></a>
    <span class="logout-button mobile">Wyloguj</span>
    <h2>SEO</h2>
    <hr>
    <div class="sidebar-menu">
      <p>↗ <a href="/external">Linki wychodzące</a></p>
      <p>🡗 <a href="/backlinks">Linki przychodzące</a></p>
      <p>📝 <a href="/notes">Notatki</a></p>
    </div>

    <h2>CRM</h2>
    <hr>
    <div class="sidebar-menu">
      <p>📑 <a href="/contracts">Umowy</a></p>
      <p>💸 <a href="/invoices">Faktury</a></p>
      <p>👥 <a href="/clients">Klienci</a></p>
      <p>🌐 <a href="/sites">Strony</a></p>

    </div>

    <div class="sidebar-bottom">
      <div class="sites-list"></div>
      <a href="/add-site">
        <button type="submit" class="button-white">
          Dodaj stronę
        </button>
      </a>
    </div>
  </aside>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    <p>Made with ❤️ by <a href="https://www.linkedin.com/in/piotr-detyna-a54115241/">Piotr Detyna</a></p>
  </footer>
</body>
</html>
