{% extends "base/layout.html" %}

{% block script %}
notes.js
{% endblock %}

{% block main %}
    <div class="card-top" id="info"  data-site-id="{{ site_id }}">
        <h1>Notatki</h1>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="column">
                
                {% csrf_token %}
                <div data-note-id="{{ notes.0.id }}" class="note">
                    <div class="note-title">
                        <input id="current-note-title" value="{{ notes.0.title }}"></input>

                        <span class="current-note-options">
                            <span id="save-current-note">💾</span>
                            <span style="display: {% if not notes %}none;{% endif %}" id="delete-current-note">🗑️</span>
                        </span>
                    
                    </div>
                    <div class="note-content"><textarea id="current-note-content">{{ notes.0.text }}</textarea></div>
                </div>
                
            </div>
            <div class="column">
                Wybierz notatkę
                <ul class="notes-list">
                {% for note in notes.all %}
                    <li class="notes-list-item" data-note-id="{{ note.id }}"><strong>{{ note.title }}</strong> <small>{{ note.date }}</small></li>   

                {% endfor %}
                </ul>
                <button class="button-purple half-width" id="add-note">Dodaj nową</button>
                
            </div>
        </div>
    </div>
{% endblock %}