{% extends "base/layout.html" %}

{% block script %}
notes.js
{% endblock %}

{% block main %}
    <div class="card-top">
        <h1>Notatki</h1>
    </div>
    <div class="card-content">
        <p>Dodaj nową stronę</p>
        <div class="row">
            <div class="column">
                
                {% csrf_token %}
                <div data-note-id="{{ notes.0.id }}" class="note">
                    <div class="note-title">
                        <input id="current-note-title" value="{{ notes.0.title }}"></input>

                        <span class="current-note-options">
                            <span id="save-current-note">💾</span>
                            <span id="delete-current-note">🗑️</span>
                        </span>
                    
                    </div>
                    <div class="note-content"><textarea id="current-note-content">{{ notes.0.text }}</textarea></div>
                </div>
                
            </div>
            <div class="column">
                <div class="notes-list">
                {% for note in notes.all %}
                    <p class="notes-list-item" data-note-id="{{ note.id }}"><strong>{{ note.title }}</strong> <small>{{ note.date }}</small></p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}