{% extends "base/layout.html" %}
{% load custom_filters %}
{% load static %}
{% block script %}
<script src="{% static 'js/sites.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="card-top">
        <h1>Strony</h1>
    </div>
    <div class="card-content">        
               
        <div class="table-container"><table>
            <caption id="check-expiry" class="purple-text clickable">Sprawdź daty wygaśnięcia</caption>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>URL</th>
                    <th>Klient</th>
                    <th>Data wygaśnięcia</th>
                    <th>Data dodania</th>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                <tr>
                    <td>
                        <a href="/site/{{ site.id }}">
                            <img class="miniature-bigger" src="{{ site.logo.url }}">
                        </a>
                    </td>
                    <td><a href="/site/{{ site.id }}">{{ site.url }}</a></td>
                    <td><a href="/client/{{ site.client.id }}">{{ site.client }}</a></td>
                    <td>{{ site.domain_expiry_date|date:"Y-m-d" }}</td>
                    <td>{{ site.date|date:"Y-m-d"  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
    </div>
{% endblock %}
